*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}
body{
    background-color: aliceblue;
    font-family: "Noto Sans", sans-serif;
}

.nav .link{
    text-decoration: none;
    color: #ffffff;
    display: block;
    float: right;
    text-align: center;
    padding: 14px 16px;    
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.1em;   
    font-weight: 500;
}
.nav{
    background-color: rgb(63, 106, 135);
    /* position: fixed; */
}
.nav .link:hover{
    color: #000;
    border: none;
    border-radius: 10%;
}
.nav p.name{
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 2em;
    font-weight: 700;
}
.nav p:hover{
    color: antiquewhite;
}
.nav img{
    margin: 10px 0 0  90px;
}

.main {
    background: url("images/pngegg.png") 60% 150px no-repeat #E2E4E9;
    background-color: rgb(81, 139, 205);
    width: 100%; 
    height: 690px;
}
.main h1{
    color: #fff;
    margin-top: 200px;
    margin-left: 50px;
    text-align: center;
    font-size: 3.2rem;
}
.main p{
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 16px;
    margin-top: 20px;   
}
.main button{
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 700px;
    margin-top: 60px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 600;
    background-color: #fff;
    color: rgb(50, 98, 153);
    border: 1px solid #fff;
    cursor: pointer;
}
.main button:hover{
    background-color: rgb(241, 247, 247);
    color: #000;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #adadad
}
.container .small{
    flex: 1;
    height: 250px;
    background-color: #fff;
    padding: 10px 0px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 90px;
}
.container div:nth-child(1){
    background-color: #fff;
    margin: 20px 20px;
}
.container div:nth-child(2){
    background-color: #fff;
    margin: 20px 20px;
}
.container div:nth-child(3){
    background-color: #fff;
    margin: 20px 20px;
}
.inner-small{
    padding: 0 auto;
    margin: 0 auto;
    background-color: #fff;
}
.puzzle{
    font-size: 5rem;
    color: rgb(14, 113, 174);
}
.inner-small-text{
    font-size: 1.2rem;
}
h3{
    font-size: 2.6em;
}
span{
    margin: 0 auto;
}
.container2{
    margin: 0 auto;
    width: 70%;
}
.first-h2{
    text-align: center;
    font-size: 2.3rem;
    color: #000;
}
.container3{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 30px;
    margin: 5px auto;
    padding: 35px 135px;
}
.poster1{
    background-color: #fff;
    height: 200px;
}
.poster2{
    background-color: #fff;
    height: 200px;
}
.poster3{
    background-color: #fff; 
    height: 200px;
}
.poster4{
    background-color: #fff;
    height: 200px;
}

footer{
    background-color: rgb(80, 153, 236);
    width: 100%;
    height: 400px;
    align-items: center;
    text-align: center;
}
.footer-h2{
    font-size: 2.3rem;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 20px;
}
footer p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
}